/* in multiples of 30px*/
.visual_proof {
  position: relative;
  font-family: monospace;
}

.visual_proof ol {
  top: 0;
  display: block;
  position: absolute;
  width: 210px; /*$ROWS * 30px*/
  margin: 0;
  padding: 0;
  font-size: 30px;
  list-style: none;
  line-height: 30px;
}

.visual_proof .giant {
  position: absolute;
  top: 0;
  line-height: 270px;
  font-size:60px;
  color: #666666;
}

.visual_proof .giant.plus {
  left: 230px;
}

.visual_proof .giant.arrow {
  left: 470px;
}

.visual_proof ol.right {
  text-align: right;
}

.visual_proof ol.left {
  color: #CC0000;
  left: 290px;
}

.visual_proof li {
  margin: 0;
  padding: 0;
  height: 30px;
}

.visual_proof li.numbers {
  font-size: 15px; /* half size */
}

.visual_proof .dup li.numbers {
  opacity: 0;
}

.visual_proof ol span {
  display: inline-block;
  width: 30px;
}

.fadein {
  opacity: 0;
}

.visual_proof .bracket_bottom, .visual_proof .bracket_right, .visual_proof .text {
  position: absolute;
}


.visual_proof .bracket_right {
  top: -20px;
  left: 740px;
}

.visual_proof .bracket_bottom {
  left: 710px;
  top: 250px;

}

.visual_proof .bracket {
  font-weight: 100;
}

.visual_proof .bracket_bottom .text {
  left: -85px;
  top: 70px;
}

.visual_proof .bracket_right .text {
  left: 70px;
  bottom: 120px;
  width: 100px;
}

.visual_proof .bracket_right .bracket{
  font-weight: 100;
  font-size: 240px;
}

.visual_proof .bracket_bottom .bracket{
  height: 100px;
  font-size: 210px;
  -webkit-transform: rotate(90deg);
}

